# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore IDE-specific configuration
.idea/

# Ignore log or temporary files
*.log

# Database files
*.db
*.sqlite3

# Python cache files
__pycache__/
*.py[cod]
